*{
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
}

header { 
   position: fixed;
   width: 99%;
   top: 0;
   z-index: 1000;
   background-color: white;
}

body { 
   padding-top: 60px;
}

.content figure img{
   width: 4%;
   margin: 1px;
 
}

.content nav a{
   justify-content: center;
   float: right;
   margin-right: 25px;
   margin-top: 10px;
   color: black;
}

#Index {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#Index h1 {
   font-size: 45px;
   color: rgb(127, 62, 84);
   position: absolute;
   top: 16%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 10px;
   z-index: 1;
}

#Index img {
   width: 89%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#SobreMi {
   display: flex;
   align-items:start;
   margin: 0 auto;
   max-width: 1000px
}

#SobreMi h3 {
  margin-right: 50px;
  padding-top: 50px;
  white-space: nowrap;
  font-size: 20px;
  color: rgb(127, 62, 84);
}

.info{
   margin-right: 20px;
   padding-top: 50px;
   text-align: justify;
   float: left;
}

#SobreMi img {
   width: 20%;
   float: right;
   margin: 10px;
   padding-top: 60px;
  
}

ros{
   color: palevioletred;
}

ital {
   font-style: italic;
}

neg {
   font-weight: bold;
}


.expe{
   align-items:start;
   margin: 0 auto;
   max-width: 1000px
}

#Experiencia h3 {
   padding-top: 50px;
   margin-right: 50px;
   font-size: 20px;
   color: rgb(127, 62, 84);
   margin: 0 auto;
   max-width: 1000px
}

#Contacto {
   align-items:start;
   margin: 0 auto;
   max-width: 1000px
}

#Contacto h3 {
   padding-top: 50px;
   white-space: nowrap;
   margin-right: 50px;
   font-size: 20px;
   color: rgb(127, 62, 84);
}


input {
   float: right;
   margin-right: 7px
}

textarea {
   float: right;
   margin-left: 10px;
}

