*{
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
}

header { 
   position: fixed;
   width: 99%;
   top: 0;
   z-index: 1000;
   background-color: white;
}

body { 
   padding-top: 60px;
}

.content img{
   width: 2rem
}


#Index h1 {
   font-size: 3.5vw;
   color: rgb(127, 62, 84);

}

#Index img {
   width: 90rem;
   
}


#SobreMi h3 {
  font-size: 2vw;
  color: rgb(127, 62, 84);
}

.info{
   text-align: justify;  
}

#SobreMi img {
   width: 15rem;
}

ros{
   color: palevioletred;
}

ital {
   font-style: italic;
}

neg {
   font-weight: bold;
}


.expe{
   align-items:start;
   margin: 0 auto;
   max-width: 1000px
}

#Experiencia h3 {
   padding-top: 50px;
   margin-right: 50px;
   font-size: 20px;
   color: rgb(127, 62, 84);
   margin: 0 auto;
   max-width: 1000px
}

#Contacto {
   align-items:start;
   margin: 0 auto;
   max-width: 1000px
}

#Contacto h3 {
   padding-top: 50px;
   white-space: nowrap;
   margin-right: 50px;
   font-size: 20px;
   color: rgb(127, 62, 84);
}


input {
   float: right;
   margin-right: 7px
}

textarea {
   float: right;
   margin-left: 10px;
}

